# Bisection Method

In [ ]:
import numpy as np
import pandas as pd
import math
import sys
from decimal import *

eq = input("Enter the equation: ")
equation="lambda x: " + eq
f = eval(equation)

# def f(x):
#      return(x**2-3)

list1 = [0]     #for c
list2 = [0]     #for error
list3 = [0]     #for f(c)



tol = input("Enter Tolerance value: ")

d = Decimal(tol)
d = d.as_tuple().exponent
d = (d * -1) + 1

tol = float(tol)


while True:
  a = float(input("Enter a: ")) 
  b = float(input("Enter b: "))
  fa = f(a)
  fb = f(b)
  if(fa*fb < 0):
    break

list4 = [a]
list5 = [b] 

print("\nf(a): ", fa)
print("f(b): ", fb)
i = 1
m = 1
no = 200


while i<= no:
  fa = f(a)
  fb = f(b)
  list4.append(round(a,d))
  list5.append(round(b,d))
  if (fa*fb < 0):
    c = (a+b)/2
    list1.append(round(c,d))
    h = abs(list1[i]-list1[i-1])
    list2.append(round(h,d))
    #print("error = ",h)
    #print(c)
    fc = f(c)
    list3.append(round(fc,d))
    i=i+1
    if fc == 0 or h < tol:
      ans=c
      print("No of Iterations: ", i-1)
      break 
    elif fc < 0:
      a = c  
    elif fc > 0 :
      b = c
  else:
    break

df = pd.DataFrame(
    {'a': list4,
     'b': list5,
     'c': list1,
     'f(c)': list3,
     'Error': list2,
    })


df = df.drop(df.index[0])
df = df.round(d)

print("\nAnswer (c): " + str(round(c,d)) + "\n")
df

Enter the equation: x*math.cos(x) - 2*x**2 + 3*x - 1
Enter Tolerance value: 0.00001
Enter a: 0.2
Enter b: 0.3

f(a):  -0.28398668443175157
f(b):  0.0066009467376817454
No of Iterations:  14

Answer (c): 0.297528

           a         b         c      f(c)     Error
1   0.200000  0.300000  0.250000 -0.132772  0.250000
2   0.250000  0.300000  0.275000 -0.061583  0.025000
3   0.275000  0.300000  0.287500 -0.027113  0.012500
4   0.287500  0.300000  0.293750 -0.010161  0.006250
5   0.293750  0.300000  0.296875 -0.001756  0.003125
6   0.296875  0.300000  0.298438  0.002428  0.001563
7   0.296875  0.298438  0.297656  0.000338  0.000782
8   0.296875  0.297656  0.297266 -0.000709  0.000390
9   0.297266  0.297656  0.297461 -0.000186  0.000195
10  0.297461  0.297656  0.297559  0.000076  0.000098
11  0.297461  0.297559  0.297510 -0.000055  0.000049
12  0.297510  0.297559  0.297534  0.000011  0.000024
13  0.297510  0.297534  0.297522 -0.000022  0.000012
14  0.297522  0.297534  0.297528 -0.000006  0.000006

# ***REGULAI FALSE***

In [ ]:
import numpy as np
import pandas as pd
import math
import sys
from decimal import *

eq = input("Enter the equation: ")
equation="lambda x: " + eq
f = eval(equation)

# def f(x):
#      return(x**2-3)

list1 = [0]
list2 = [0]
list3 = [0]



tol = input("Enter tolerance value: ")

d = Decimal(tol)
d = d.as_tuple().exponent
d = (d * -1) + 1

tol = float(tol)

while True:
  a = float(input("Enter a: ")) 
  b = float(input("Enter b: "))
  fa = f(a)
  fb = f(b)
  if (fa*fb < 0):
    break

list4 = [a]
list5 = [b] 

print("\nf(a): ", fa)
print("f(b): ", fb)
i = 1
m = 1
no = 200


while i<= no:
  fa = f(a)
  fb = f(b)
  list4.append(round(a,d))
  list5.append(round(b,d))
  if (fa*fb < 0):
    c = (((a*fb)-(b*fa))/(fb-fa))
    list1.append(round(c,d))
    h = abs(list1[i]-list1[i-1])
    list2.append(round(h,d))
    #print("error = ",h)
    #print(c)
    FC = f(c)
    list3.append(round(FC,d))
    i=i+1
    if FC == 0 or h < tol:
        print("No of iterations: ", i-1)
        break 
    elif FC < 0:
      a = c  
    elif FC > 0 :
      b = c
  else:
    break

df = pd.DataFrame(
    {'a': list4,
     'b': list5,
     'c': list1,
     'f(c)': list3,
     'Error': list2,
    })


df = df.drop(df.index[0])
df = df.round(d)

print("\nAnswer (c): ",round(c,d),"\n")
df

Enter the equation: x*math.cos(x) - 2*x**2 + 3*x - 1
Enter tolerance value: 0.00001
Enter a: 0.2
Enter b: 0.3

f(a):  -0.28398668443175157
f(b):  0.0066009467376817454
No of iterations:  4

Answer (c):  0.29753

     a         b         c      f(c)     Error
1  0.2  0.300000  0.297728  0.000531  0.297728
2  0.2  0.297728  0.297546  0.000042  0.000182
3  0.2  0.297546  0.297532  0.000003  0.000014
4  0.2  0.297532  0.297530  0.000000  0.000002

# ***SECANT METHOD***

In [ ]:
import numpy as np
import pandas as pd
from math import e


eq = input("Enter the equation: ")
equation = "lambda x: " + eq
f = eval(equation)

# def f(x):
#   return( np.sin(x)- np.e**(-x) )


list1 = [0]
list2 = [0]
list3 = [0]
 
    
tol = input("Enter tolerance value: ")
d = Decimal(tol)
d = d.as_tuple().exponent
d = (d * -1) + 1
tol = float(tol)

    
while True:
  a = float(input("Enter a: "))
  b = float(input("Enter b: "))
  fa = f(a)
  fb = f(b)
  if (fa*fb < 0):
    break;

list4 = [a]
list5 = [b] 

print("\nf(a): ", fa)
print("f(b): ", fb)
i = 1
m = 1
no = 200


while i<= no:
  
  fa = f(a)
  fb = f(b)
  c = (((a*fb)-(b*fa))/(fb-fa))
  list1.append(round(c,d))
  list4.append(round(a,d))
  list5.append(round(b,d))
  h = abs(list1[i]-list1[i-1])
  list2.append(round(h,d))
  FC = f(c)
  list3.append(round(FC,d))
  a = b
  b = c
  if h < tol:
      print("No of iterations: ", i)
      break 
  else:
    i=i+1



df = pd.DataFrame(
    {'a': list4,
     'b': list5,
     'c': list1,
     'f(c)': list3,
     'Error': list2,
    })



df = df.drop(df.index[0])
df = df.round(d)

print("\nAnswer (c): ",round(c,d),"\n")

df

Enter the equation: math.sin(x) - math.e**(-x)
Enter tolerance value: 0.00001
Enter a: 6
Enter b: 7

f(a):  -0.28189425037559224
f(b):  0.6560747167532346
No of iterations:  4

Answer (c):  6.285049

          a         b         c      f(c)     Error
1  6.000000  7.000000  6.300537  0.015515  6.300537
2  7.000000  6.300537  6.283595 -0.001457  0.016942
3  6.300537  6.283595  6.285049  0.000000  0.001454
4  6.283595  6.285049  6.285049  0.000000  0.000000

# Fixed Point

In [ ]:
import pandas as pd
import numpy as np
import math
from sympy import *

# def g(x):
#   return ( np.sqrt(-10*np.cos(x)) )

eq = input("Enter the g(x): ")
equation = "lambda x: " + eq
g = eval(equation)


list1 = [0.00]
list2 = [0.00]


p0 = float(input("Enter p0: "))
list1.append(round(p0,d))

list2.append(0)

tol = input("Enter tolerance value: ")
d = Decimal(tol)
d = d.as_tuple().exponent
d = (d * -1) + 1
tol = float(tol)

i = 1
m = 1
no = 200

while i <= no:
  p = g(p0)
  list1.append(round(p,d))
  h = abs(p-p0)
  list2.append(round(h,d))
  p0 = p
  if  h < tol:
      print("No of iterations: ", i+1)
      break 
  else:
    i=i+1




df = pd.DataFrame(
    {'P': list1,
     'Error': list2,
    })


df = df.drop(df.index[0])
df = df.round(d)

print("\nAnswer (P): ",round(p,d),"\n")

df

Enter the g(x): np.sqrt(-10*np.cos(x))
Enter p0: 2
Enter tolerance value: 0.001
No of iterations:  9

Answer (P):  3.162

        P   Error
1  2.0000  0.0000
2  2.0400  0.0400
3  2.1264  0.0864
4  2.2966  0.1702
5  2.5763  0.2797
6  2.9059  0.3296
7  3.1183  0.2123
8  3.1618  0.0436
9  3.1620  0.0001

# Lagrange Interpolation

In [ ]:
from sympy import var,sympify,Symbol,expand
from sympy.parsing.sympy_parser import parse_expr, standard_transformations, implicit_multiplication_application, convert_xor
transformations=(standard_transformations+(implicit_multiplication_application,)+(convert_xor,))
Xs=[]
Fs=[]
size=int(input("How many values of x you want to enter? "))
i=0
while (i<size):
    print("Enter X",i,end="")
    Xs.append(round(float(input(": ")),7))
    i+=1
while True:
    choice=input("Enter F if you want to enter function or V if you want to enter values for each x: ")
    if (choice=='F' or choice == 'f'):
        Function=input("Enter the function with veriable 'x': ")
        Function=parse_expr(Function,transformations=transformations)
        i=0
        while (i<size):
            Fs.append(Function.evalf(6,subs=dict(x=Xs[i])))
            i+=1
        break
    elif (choice=='V' or choice == 'v'):
        i=0
        while(i<size):
            print("Enter F",i,end="")
            Fs.append(round(float(input(": ")),7))
            i+=1
        break
    else:
        continue
X=float(input("At what value of 'x' you want to find the value of Function? "))

Case=1
while (Case<size):
    k=0
    equation="0"
    equation=parse_expr(equation,transformations=transformations)
    while (k<=Case):
        equation1=parse_expr("1",transformations=transformations)
        i=0
        while (i<=Case):
            if(i!=k):
                equation2=parse_expr("x",transformations=transformations)
                equation2=equation2-Xs[i]
                equation2=equation2/(Xs[k]-Xs[i])
                equation1=equation1*equation2
                equation1=expand(equation1)
            i+=1
        equation1=equation1*Fs[k]
        equation=equation+equation1
        equation=expand(equation)
        k+=1
    print("Case",Case)
#    print(equation)
    solution=equation.evalf(6,subs=dict(x=X))
    print(solution)
    Case+=1

How many values of x you want to enter? 4
Enter X 0: 8.1
Enter X 1: 8.3
Enter X 2: 8.6
Enter X 3: 8.7
Enter F if you want to enter function or V if you want to enter values for each x: V
Enter F 0: 16.94410
Enter F 1: 17.56492
Enter F 2: 18.50515
Enter F 3: 18.82091
At what value of 'x' you want to find the value of Function? 8.4
Case 1
17.8753
Case 2
17.8771
Case 3
17.8771

# Newton Divided Difference

In [ ]:
import pandas as pd
import numpy as np
import math


# def g(x):
#   return ( 2*x**2 - 3*x -5 )

j = 0
listx = [] 
listfx = []
listpol = []
v = float(input("Enter value of x = "))

d = int(input("How many values of x do you want to enter ?  = "))
x = np.zeros((d))
y = np.zeros((d,d))
j = 0

b = int(input("enter 0 to calculate by equation or enter any other num to enter values of f(x)"))

if b == 0:

  eq = input("Enter the equation: ")
  equation="lambda x: " + eq
  g = eval(equation)


  while j<d:

    x[j] = float(input( 'x['+str(j)+']='))
    a = x[j]  
    listx.append(a)
      
    y[j][0] = g(a)
    z = y[j][0]  
    listfx.append(z)
    j = j+1

else:

  while j<d:

    x[j] = float(input( 'x['+str(j)+']='))
    a = x[j]  
    listx.append(a)
      
    y[j][0] = float(input( 'y['+str(j)+']='))
    z = y[j][0]  
    listfx.append(z)
    j = j+1
  

        
for i in range(1,d):
    for j in range(0,d-i):
        
        y[j][i] = (y[j+1][i-1] - y[j][i-1])/(x[j+1] - x[j])
        

        
        
# for i in range(0,d):
#     print('%0.2f' %(x[i]), end='')
#     for j in range(0, d-i):
#         print('\t\t%0.2f' %(y[i][j]), end='')
#     print()    
        

        
def proterm(i, value, x): 
    pro = 1; 
    for j in range(i): 
        pro = pro * (value - x[j]); 
    return pro;
    
    
    

def applyFormula(value, x, y, n): 
  
    sum = y[0][0]; 
  
    for i in range(1, n):
        sum = sum + (proterm(i, value, x) * y[0][i]); 
      
    return sum;    
    
print("\nValue at", v, "is",
        round(applyFormula(v, x, y, d), 2))    






df = pd.DataFrame(y)    
df.insert(0, 'X',x)
df.rename(columns={ df.columns[1]: "f(x)" }, inplace = True)

df

Enter value of x = 1.23
How many values of x do you want to enter ?  = 4
enter 0 to calculate by equation or enter any other num to enter values of f(x)0
Enter the equation: x**3 - 2*x**2 + 1
x[0]=1
x[1]=2
x[2]=3
x[3]=4

Value at 1.23 is 0.69

     X  f(x)     1     2    3
0  1.0   0.0   1.0   8.0  6.0
1  2.0   1.0   9.0  14.0  0.0
2  3.0  10.0  23.0   0.0  0.0
3  4.0  33.0   0.0   0.0  0.0

# ***Stirling***

In [ ]:
import numpy as np
import pandas as pd
import math


def f(x):
  return x**2 -3*x

listx = []
listy = []
listp = []

v = float(input("Enter value of x to find: "))
           
op = int(input("How many x values? "))

x = np.zeros((op))
y = np.zeros((op))

listdelta = [[0 for i in range(op)]
          for j in range(op)]
  
for i in range(0,op):
  x[i]=float(input("x[" + str(i) + "]: "))
  listx.append(x[i])

  
opt = int(input("Enter 1 to provide the equation or 2 to provide Y points: "))
if opt==1 :
  eq =input("Enter the equation: ")
  equation="lambda x: " + eq
  f=eval(equation)

  for i in range(0,op):
    y[i]=f(x[i])
    listy.append(y[i])


else :
  for i in range(0,op):
    y[i]=float(input("y[" + str(i) + "]: "))
    listy.append(y[i])


h = x[1] - x[0]
s = math.floor(op / 2)
x0 = x[s]
y0 = y[s]
p = (v - x0) / h
k = l = 1

for i in range(op-1):
  temp = (x[i]-x0) / h
  listp.append(temp)

  listdelta[i][0] = y[i+1] - y[i]

temp = (x[op-1] - x0) / h
listp.append(temp)

for i in range(1,op-1):
  for j in range(op - i -1):
    listdelta[j][i] = (listdelta[j + 1][i - 1] - listdelta[j][i - 1])

temp1 = temp2 = d = 1

for i in range(1, op):
  if i % 2 != 0:
    if k != 2:
      temp1 *= (pow(p, k) - pow((k - 1), 2))
    else:
      temp1 *= (pow(p, 2) - pow((k - 1), 2))

    k += 1
    d *= i
    s = math.floor((op - i) / 2)
    y0 += (temp1 / (2 * d)) * (listdelta[s][i - 1] + listdelta[s - 1][i - 1])

  else:
    temp2 *= (pow(p, 2) - pow((l - 1), 2))
    l += 1
    d *= i
    s = math.floor((op - i) / 2)
    y0 += (temp2 / (d)) * (listdelta[s][i - 1])


print("Value of function at x = ", v , "is ", y0)


df = pd.DataFrame(listdelta)
df.insert(0, 'X',listx)
df.insert(1,'y',listy)
df.insert(2, 'p',listp)
df

#df = pd.DataFrame()

Enter value of x to find: 1.33
How many x values? 4
x[0]: .5
x[1]: 1
x[2]: 1.5
x[3]: 2
Enter 1 to provide the equation or 2 to provide Y points: 2
y[0]: 5
y[1]: 12
y[2]: 20
y[3]: 31
Value of function at x =  1.33 is  17.673516000000003

     X     y    p     0    1    2  3
0  0.5   5.0 -2.0   7.0  1.0  2.0  0
1  1.0  12.0 -1.0   8.0  3.0  0.0  0
2  1.5  20.0  0.0  11.0  0.0  0.0  0
3  2.0  31.0  1.0   0.0  0.0  0.0  0

#Three Point

In [ ]:
import pandas as pd
import numpy as np
import math
from sympy import *
from sympy.abc import x
import matplotlib.pyplot as plt
from decimal import *

xList = []
yList = []
dyList = []
trueErrorList = []


c = str(input("Do you want to calculate true error?[y/n] "))
v = str(input("Do you want to insert values of y?[y/n] "))


if c=='y' or c=='Y':
  x = Symbol('x')
  eq = input("Enter the equation: ")
  f = sympify(eq)
  df = f.diff(x)

if v=='n' or v=='N':
  print("Enter the values of x: ")
  
else:
  print("Enter the values of x & y: ")

for i in range(0,4):
  xx = float(input("x[" + str(i) + "]: "))
  xList.append(xx)
  if v=='n' or v=='N':
    g = lambdify(x,f)
    temp = g(xx)
    yList.append(float(temp))
  else:
    yList.append(float(input("y[" + str(i) + "]: ")))

#h = float(input("Enter the value of h: "))
h=xList[1]-xList[0]

#1
dy = (1/(2*h))*(-3*yList[0] + 4*yList[1] - yList[2])
dyList.append(dy)

#2
dy=0
dy = (1/(2*h))*(yList[2] - yList[0])
dyList.append(dy)

#3
dy=0
dy = (1/(2*h))*(yList[3] - yList[1])
dyList.append(dy)

#4
dy=0
dy = -(1/(2*h))*(-3*yList[3] + 4*yList[2] - yList[1])
dyList.append(dy)


if c=='y' or c=='Y':
  for i in range(0,4):
    f1 = df.evalf(subs= {x:xList[i]})
    f2 = float(f1-dyList[i])
    f2 = abs(f2)
    trueErrorList.append(round(f2,7))
    
  df = pd.DataFrame({
    "Y'": dyList,
    "True error": trueErrorList})

else:
  df = pd.DataFrame({
    "Y'": dyList,
    })

df.insert(0, 'X',xList)
df.insert(1,'Y',yList)
df

Do you want to calculate true error?[y/n] y
Do you want to insert values of y?[y/n] y
Enter the equation: E**(2*x)
Enter the values of x & y:
x[0]: 1.1
y[0]: 9.025013
x[1]: 1.2
y[1]: 11.02318
x[2]: 1.3
y[2]: 13.46374
x[3]: 1.4
y[3]: 16.44465

     X          Y         Y'  True error
0  1.1   9.025013  17.769705    0.280322
1  1.2  11.023180  22.193635    0.147282
2  1.3  13.463740  27.107350    0.179874
3  1.4  16.444650  32.510850    0.378443

# Five Point

In [ ]:
import pandas as pd
import numpy as np
import math
from sympy import *
from sympy.abc import x
import matplotlib.pyplot as plt
from decimal import *


xList = []
yList = []
dyList = []
trueErrorList = []

c = str(input("Do you want to calculate true error?[y/n] "))
v = str(input("Do you want to insert values of y?[y/n] "))


if c=='y' or c=='Y':
  x = Symbol('x')
  eq = input("Enter the equation: ")
  f = sympify(eq)

  df = f.diff(x)

if v=='n' or v=='N':
  print("Enter the values of x: ")
  
else:
  print("Enter the values of x & y: ")



for i in range(0,6):
  xx = float(input("x[" + str(i) + "]: "))
  xList.append(xx)

  if v=='n' or v=='N':
    g = lambdify(x,f)
    temp = g(xx)
    yList.append(float(temp))
  else:
    yList.append(float(input("y[" + str(i) + "]: ")))


#h = float(input("Enter the value of h: "))
h=xList[1]-xList[0]

#1
dy = (1/(12*h))*(-25*yList[0] + 48*yList[1] - 36*yList[2] + 16*yList[3] -3*yList[4])
dyList.append(dy)

#2
dy=0
dy = (1/(12*h))*(-25*yList[1] + 48*yList[2] - 36*yList[3] + 16*yList[4] -3*yList[5])
dyList.append(dy)

#3
dy=0
dy = (1/(12*h))*(yList[0] - 8*yList[1] + 8*yList[3] - yList[4])
dyList.append(dy)

#4
dy=0
dy = (1/(12*h))*(yList[1] - 8*yList[2] + 8*yList[4] - yList[5])
dyList.append(dy)

#5
dy=0
dy = (-1/(12*h))*(-25*yList[4] + 48*yList[3] - 36*yList[2] + 16*yList[1] -3*yList[0])
dyList.append(dy)

#6
dy=0
dy = (-1/(12*h))*(-25*yList[5] + 48*yList[4] - 36*yList[3] + 16*yList[2] -3*yList[1])
dyList.append(dy)


if c=='y' or c=='Y':
  for i in range(0,6):
    f1 = df.evalf(subs= {x:xList[i]})
    f2 = float(f1-dyList[i])
    f2 = abs(f2)
    trueErrorList.append(round(f2,5))

  df = pd.DataFrame({
  "Y'": dyList,
  "True Error": trueErrorList})

else:
  df = pd.DataFrame({
    "Y'": dyList
    })  



df.insert(0, 'X',xList)
df.insert(1,'Y',yList)
df

Do you want to calculate true error?[y/n] y
Do you want to insert values of y?[y/n] y
Enter the equation: E**(x/3) + x**2
Enter the values of x & y:
x[0]: 2.1
y[0]: -1.709847
x[1]: 2.2
y[1]: -1.373823
x[2]: 2.3
y[2]: -1.119214
x[3]: 2.4
y[3]: -0.9160143
x[4]: 2.5
y[4]: -0.7470223
x[5]: 2.6
y[5]: -0.6015966

     X         Y        Y'  True Error
0  2.1 -1.709847  3.899344     0.97191
1  2.2 -1.373823  2.876876     2.21713
2  2.3 -1.119214  2.249704     3.06782
3  2.4 -0.916014  1.837756     3.70409
4  2.5 -0.747022  1.544210     4.22278
5  2.6 -0.601597  1.355496     4.63749

# CLOSED NEWTON

In [ ]:
import math
import numpy as np
from decimal import *


eq =input("Enter the function: ")
equation="lambda x: " + eq
f=eval(equation)

a = float(input("Enter 'a' (lower limit x0) : "))
b = float(input("Enter 'b' (upper limit x1 OR x2) : "))

h = b-a

trap = (h/2)*(f(a)+f(b))

h = (b-a)/2
n1 = (h/3)*(f(a)+4*f(a+h)+f(b))
h = (b-a)/3
n2 =  (3*h/8)*(f(a)+3*f(a+h)+3*f(a+(2*h))+f(b))
h = (b-a)/4
n3 = (2*h/45)*(7*f(a)+32*f(a+h)+12*f(a+(2*h))+32*f(a+(3*h))+7*f(b))


print("\nSolution through Trapezoid method: " + str(round(trap,5)))
print("Solution through Simpson method: " + str(round(n1,5)))
print("Solution through Simpson 3/8th method: " + str(round(n2,5)))
print("Solution through n = 4 method: " + str(round(n3,5)))

Enter the function: sin(x)
Enter 'a' (lower limit x0) : 0
Enter 'b' (upper limit x1 OR x2) : 0.7855

Solution through Trapezoid method: 0.27774
Solution through Simpson method: 0.29300
Solution through Simpson 3/8th method: 0.29298
Solution through n = 4 method: 0.29297

# Euler's Method

In [ ]:
import numpy as np
import pandas as pd
import math


eq = input("Enter derivated equation in terms of 'y' and 'x': ")
equation = "lambda y,x: " + eq
f = eval(equation)


while(1):
  o = int(input("Do you want to enter x0 or limits? [1,2]: "))
  
  if o==1:
    a = float(input("Enter x0: "))
    b = float(input("Enter y0: "))
    h = float(input("Enter h: "))
    break

  elif o==2:
    a = float(input("Enter lower limit (a): "))
    b = float(input("Enter upper limit (b): "))

    while(1):
      op = str(input("Do you want to enter (N) or (h) ? [N,h]: "))

      if op=='N' or op=='n':
        N = float(input("Enter N: "))
        h = (b-a)/N
        break

      elif op=='h' or op=='H':
        h = float(input("Enter h: "))
        N = (b-a)/h
        break
    break



required = float(input("Enter required value for approximation (Xn): "))

xList = []
yList = []
xList.append(a)
yList.append(b)

i=0

while a<=required && i<N:
  b = b + h*f(b,a)
  a+=h
  xList.append(round(a,6))
  yList.append(round(b,6))
  i++


df = pd.DataFrame({
    "Xn":xList,
    "Yn":yList})

df

Do you want to enter x0 or limits? [1,2]: 1
Enter x0: 2
Enter h: 0.1
Enter y0: 4
Enter derivated equation in terms of 'y' and 'x': 0.1*sqrt(y) + 0.4*x**2
Enter required value for approximation (Xn): 2.5

    Xn                Yn
0  2.0                 4
1  2.1  4.18000000000000
2  2.2  4.37684504830026
3  2.3  4.59136595900773
4  2.4  4.82439343193155
5  2.5  5.07675793381967

# Modified Euler

In [ ]:
import numpy as np
import math
import pandas as pd


eq = input("Enter derivated equation in terms of 'y' and 't': ")
equation = "lambda t,y: " + eq
f = eval(equation)



eq = input("Enter actual solution y(t) in terms of 't': ")
equation = "lambda t: " + eq
g = eval(equation)



t0 = float(input("Enter lower limit (t0): "))
b = float(input("Enter upper limit (b): "))
y0 = float(input("Enter y0: "))

h = float(input("Enter h: "))

eulerList = []
tList = []
ytList = []
errorList = []

tList.append(t0)
eulerList.append(y0)
errorList.append(0)
ytList.append(g(t0))

while t0<b:

  k1 = float(h*f(t0,y0))
  k2 = float(h*f(t0+h,y0+k1))

  y0 = y0 + (1/2)*(k1+k2)

  eulerList.append(y0)
  
  t0=t0+h
  tList.append(t0)
  yt = g(t0)
  ytList.append(yt)
  errorList.append(yt-y0)


df = pd.DataFrame({
    "ti":tList,
    "Modified Euler":eulerList,
    "y(ti)":ytList,
    "Error":errorList
})

df

Enter derivated equation in terms of 'y' and 't': (y/t) + 1
Enter actual solution y(t) in terms of 't': t* math.log(t) + 2*t
Enter lower limit (t0): 1
Enter upper limit (b): 2
Enter y0: 2
Enter h: 0.25

     ti  Modified Euler     y(ti)     Error
0  1.00        2.000000  2.000000  0.000000
1  1.25        2.775000  2.778929  0.003929
2  1.50        3.600833  3.608198  0.007364
3  1.75        4.468829  4.479328  0.010498
4  2.00        5.372859  5.386294  0.013436

## ***Mid point Method***

In [ ]:
import numpy as np
import math
import pandas as pd


eq = input("Enter derivated equation in terms of 'y' and 't': ")
equation = "lambda t,y: " + eq
f = eval(equation)



eq = input("Enter actual solution y(t) in terms of 't': ")
equation = "lambda t: " + eq
g = eval(equation)



t0 = float(input("Enter lower limit (t0): "))
b = float(input("Enter upper limit (b): "))
y0 = float(input("Enter y0: "))

h = float(input("Enter h: "))

eulerList = []
tList = []
ytList = []
errorList = []

tList.append(t0)
eulerList.append(y0)
errorList.append(0)
ytList.append(g(t0))

while t0<b:

  
  k1 = float(f(t0,y0))
  k2 = float(f(t0+(h/2),y0+(h/2)*k1))
  
  y0 = y0 + h*k2


  eulerList.append(y0)

  t0=t0+h
  tList.append(t0)
  yt = g(t0)
  ytList.append(yt)
  errorList.append(yt-y0)


df = pd.DataFrame({
    "ti":tList,
    "Mid Point":eulerList,
    "y(ti)":ytList,
    "Error":errorList
})

df

Enter derivated equation in terms of 'y' and 't': y-t**2+1
Enter actual solution y(t) in terms of 't': (t+1)**2- 0.5 *math.e**t
Enter lower limit (t0): 0
Enter upper limit (b): 2
Enter y0: 0.5
Enter h: 0.2

     ti  Mid Point     y(ti)     Error
0   0.0   0.500000  0.500000  0.000000
1   0.2   0.828000  0.829299  0.001299
2   0.4   1.211360  1.214088  0.002728
3   0.6   1.644659  1.648941  0.004281
4   0.8   2.121284  2.127230  0.005945
5   1.0   2.633167  2.640859  0.007692
6   1.2   3.170463  3.179942  0.009478
7   1.4   3.721165  3.732400  0.011235
8   1.6   4.270622  4.283484  0.012862
9   1.8   4.800959  4.815176  0.014218
10  2.0   5.290369  5.305472  0.015102
11  2.2   5.712251  5.727493  0.015243